.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.add_new_note:hover {
  background-color: rgba(204,204,204,0.7) !important;
}

.save-btn:hover {
  background-color: #0050b3CC !important;
}

.clear-btn:hover {
  background-color: #cf1322CC !important;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  height: 100vh;
}

.side-tab-container {
  width: 300px;
  background: #eee;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
}

.main-tab-container {
  flex-grow: 1;
  height: 100vh;
}

.l-side-tab {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 10px;
  width: 95%;
  flex-grow: 1;
}

.l-side-tab__menu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%
}

.menu__header {
  flex-grow: 1;
  flex: 1;
}

.menu__header-text {
  font-size: 30px;
  font-weight: 540;
  float: left;
}

.select-all-notes {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: center;
  width: 100%;
  margin-top: 50px;
}

.select-all-notes__checkbox {
  margin-left: 10px;
}

.notes-container {
  width: 100%;
  margin-top: 10px;
}

.note-item-container {
  height: 60vh;
  overflow: scroll;
}

.btn-create-note {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  background: rgba(204,204,204,0.3);
  cursor: pointer;
}

.btn-create-note__icon {
  font-size: 30px;
}

.btn-create-note__text {
  flex-grow: 1;
  margin-left: 20px;
}

.btn-create-note__inner-text {
  float: left;
}

.c-notes {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  padding: 10px;
  background: rgba(204, 204, 204, 0.3);
  cursor: pointer;
  margin-top: 10px;
}

.c-notes__item {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  flex-grow: 1;
}

.c-notes__item_preview {
  max-width: 800px;
  max-height: 600px;
  overflow-y: scroll;
}

.c-notes__meta_info {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.note-created_time {
  font-size: 10px;
}

.synced-icon {
  color: #434343;
  margin-left: 10px;
  font-size: 20px;
}

.c-menu {
  cursor: pointer;
}

.c-menu__icon {
  font-size: 25px;
  color: #000
}

.c-empty-work {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.c-empty-work__icon {
  font-size: 300px;
  color: rgba(153, 153, 153, 0.2);
}

.main-tab__title-input {
  margin-top: 10px;
  margin-bottom: 10px;
}

.c-title-input {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.title-text-wrapper {
  margin-left: 10px;
}

.title-text {
  font-weight: 700px;
  font-style: italic;
}

.title-input-wrapper {
  flex-grow: 1;
}

.real-input-title {
  width: 90%;
  border: none;
  outline: none;
  padding: 10px;
  font-size: 15px;
}

.mce-loading {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.main-tab__footer {
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  margin-top: 10px;
  align-items: center;
}

.clear-btn-normal-state {
  padding: 10px;
  background: #cf1322;
  margin-right: 10px;
  cursor: pointer;
}

.white-text {
  color: #fff;
}

.save-text-normal-state {
  padding: 10px;
  background: #0050b3;
  cursor: pointer;
  margin-right: 10px;
}
